
body {
    background-color:bisque;
    display: flex;
    flex-direction: row;

}

div#functionality {
    display: grid;
    padding-top: 100px;
    grid-template-rows: 25px 25px 25px;
    grid-gap: 100px;
    padding-right: 25px;
}

div.grid-container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    height: 500px;
    width: 500px;
}

@media (max-height: 500px) {
    div#functionality {
        padding-top: 40px;
        grid-gap: 40px;
    }
}

div.grid-element {
    background-color: white;
}
